extend default

block raw-body
    div(class="torrent-player")
        video(
            id="player",
            class="video-js",
            controls,
            preload="auto",
            data-setup='{}'
        )
            source(src=`${video_src}`, type="video/mp4")
            p(class="vjs-no-js")
                a(href="http://videojs.com/html5-video-support/", target="_blank") To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video

        label(for="subtitle") Subtitles
        input(type="file", id="subtitle", name="subtitle")

block css
    link(href='//vjs.zencdn.net/5.11/video-js.min.css', rel='stylesheet')

block js
    script(src="//vjs.zencdn.net/5.11/video.min.js")
    script.
        document.getElementById('subtitle').addEventListener("change", function(e){
            var file = document.getElementById('subtitle').files[0];
            addSubtitle(file);
        });
        function addSubtitle(file) {
            var formData = new FormData();
            var xhr = new XMLHttpRequest();
            formData.append('subtitle', file);
            xhr.open('post', '/subtitle', true);
            xhr.send(formData);
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var sub_src = this.responseText;
                    console.log(sub_src);
                    videojs('player').addRemoteTextTrack({'src': '/subtitle/' + sub_src, 'kind': 'subtitles'});
                }
            };
        }