extend default

block raw-body
    video(
        id="player",
        class="video-js torrent-player",
        controls,
        preload="auto",
        data-setup='{}'
    )
        source(src=`${video_src}`, type="video/mp4")
        p(class="vjs-no-js")
            a(href="http://videojs.com/html5-video-support/", target="_blank") To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video

block css
    link(href='//vjs.zencdn.net/5.11/video-js.min.css', rel='stylesheet')

block js
    script(src="//vjs.zencdn.net/5.11/video.min.js")